.clash_basic_info{
    display: block;
    text-align: left;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#clash_version_status {
    display: table-cell;
    width: 95%;
}

.switch_label {
    display: table-cell;
    float: left;
    padding-left: 20px;
    font-size: 18px;
    width: 200px;
    text-align: right;
    font-weight: bolder;
}

.switch_field {
    display: table-cell;
    float: left;
}

.blank_line {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.input_text {
    width: 95%;
    font-family: Courier New, Courier, mono;
    font-size: 14px;
    background: #3b4c50;
    color: #FFFFFF;
}

.button_gen {
    font-size: 18px;
}

.apply_gen {
    width: 95%;
    margin-top: 0px;
}

.FormTable th {
    text-align: right;
    font-size: 16px;
    width: 25%;
}

.FormTable {
    display: none;
    width: 100%;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
}



button.tab.active {
    background-color: #387387;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.copyToClipboard {
    color: red !important;
}

td.hasButton {
    text-align: center;
}

td {
    text-align: left;
}

.wide_input {
    width: 50%;
}

.hintstyle {
    cursor: help;
}

.item-tab {
    width: 80px;
    border-radius: 5px;
    margin: 1px !important;
    padding: 2px !important;
    color: rgb(0, 255, 8) !important;
}