.clash_basic_info{
    display: block;
    text-align: left;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

#clash_version_status {
    display: block;
    width: 95%;
}

.switch_label {
    display: table-cell;
    float: left;
    padding-left: 20px;
    font-size: 18px;
    width: 200px;
    text-align: right;
    font-weight: bolder;
}

.switch_field {
    display: table-cell;
    float: left;
}

.blank_line {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}

#clash_text_log,
#clash_provider_url {
    width: 95%;
    font-family: Courier New, Courier, mono;
    font-size: 14px;
    background: #51686d;
    color: #FFFFFF;
}

.button_gen {
    font-size: 18px;
}

.apply_gen {
    width: 95%;
    margin-top: 0px;
}
